@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);

@layer base {
	h1,
	h2,
	h3,
	h4,
	p {
		font-family: 'Chonburi', serif;
		font-style: normal;
	}

	h1 {
		font-weight: 500;
		font-size: var(--text-2xl);
	}
	h2 {
		font-weight: 400;
		font-size: var(--text-xl);
	}
	h3 {
		font-weight: 300;
		font-size: var(--text-lg);
		font-weight: 300;
	}
	a {
		color: var(--color-blue-600);
		text-decoration-line: underline;
	}

}
